@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*============================= Common Css Start ============================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul,
ol,
li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/*============================= Common Css End =============================*/

/*============================= topBar Start =============================*/
.header_row {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: end;
    background: #F3F5F7;
}

.header_left {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header_left_title {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.header_left_offer {
    font-size: 14px;
    font-weight: 600;
    color: #343839;
    font-family: "Inter", sans-serif;
}

.header_left_title a {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #377DFF;
    font-family: "Inter", sans-serif;
    position: relative;
}

.header_left_title a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #377DFF;
    bottom: 0%;
    left: 0%;
}

.header_right {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

.header_icon i {
    font-size: 18px;
    color: #000000;
}

/*============================= topBar End =============================*/

/* ============================= NavBar Start =============================  */
#navBar {
    max-width: 100%;
    padding: 18px 0;
    background-color: #fff;
}

.navBar_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar_items_list {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.navbar_link {
    font-size: 14px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #00000075;
}

.active {
    color: #000;
}

.navbar_link:hover {
    color: #000;
}

.navBar_icon {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.navBar_icon__item i {
    font-size: 20px;
    color: #000;
}

.navBar_icon__two {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #141718;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar_icon__two p {
    font-size: 12px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #fff;
}

/* ============================= NavBar End =============================  */
/* ============================= Hero Section Start =============================  */
#Hero_section {
    width: 100%;

}

.banner_img {
    position: relative;
}

.banner_img::after {
    content: "\f060";
    position: absolute;
    font-size: 24px;
    color: #000;
    font-family: "FontAwesome";
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

.banner_img::before {
    content: "\f061";
    position: absolute;
    font-size: 24px;
    color: #000;
    font-family: "FontAwesome";
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);

}

.banner_img picture img {
    width: 100%;
    height: 100%;
}

.banner_dot {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
}

.banner_slider_dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
}

.active {
    width: 30px;
    border-radius: 100px;
}

/* ============================= Hero Section End =============================  */
/* ============================= Simply Section Start ============================= */


/* ============================= Simply Section End ============================= */